/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Dialog styles */
.mat-mdc-dialog-container {
    padding: 0 !important;
}

.mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
}

.igrac-form-dialog {
    min-width: 600px;
}